<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MAFI.mappers.shopMapper">

	<!-- 카테고리 1차 분류 선택시 -->
	<!--1차 분류 클릭시 1차 분류에 속해있는 애들을 다 불러온다  -->
	<select id="list_1" resultType="com.MAFI.domain.GoodsViewVO">
	select
	    g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName,
	    gdsPrice, gdsStock, gdsDes, gdsDate, g.gdsImg, g.gdsThumbImg
	        from tbl_goods g
	            inner join goods_category c
	                on g.cateCode = c.cateCode           
	            where 
	           <!--  g.cateCode = #{cateCode}
           		 or  -->
           		 c.cateCodeRef = #{cateCodeRef}
	</select>
	
	<!-- 카테고리 2차분류 선택시 -->
	<select id="list_2" resultType="com.MAFI.domain.GoodsViewVO">
	select
	    g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName,
	    gdsPrice, gdsStock, gdsDes, gdsDate, g.gdsImg, g.gdsThumbImg
	        from tbl_goods g
	            inner join goods_category c
	                on g.cateCode = c.cateCode           
            where g.cateCode = #{cateCode}
	</select>
	
	<insert id="regisetReply">
	 INSERT INTO tbl_reply (
        gdsNum,
        userid,
        repnum,
        repcon
    ) VALUES (
        #{gdsNum},
        #{userId},
        tbl_reply_seq.NEXTVAL,
        #{repCon}
    )
    </insert>
    
    <select id="replyList" resultType="com.MAFI.domain.ReplyListVO">
    SELECT
	    r.gdsnum,
	    r.repcon,
	    r.repdate,
	    r.repnum,
	    r.userid,
	    m.username
	FROM
    tbl_member m
    INNER JOIN tbl_reply r ON m.userid = r.userid
    WHERE r.gdsnum =#{gdsNum}
    </select>
    
    <!--소감삭제  -->
    <delete id="deleteReply">
    DELETE tbl_reply 
    where repnum=#{repNum} 
	and userid=#{userId}
    </delete>
    
    <!-- 아이디체크 -->
    <select id="replyUserIdCheck" resultType="String">
    SELECT
    	userid
	FROM
	    tbl_reply
	WHERE
	    repnum = #{repNum}
    </select>
    
    <update id="modifyReply">
    	UPDATE tbl_reply
		SET
		    repcon = #{repCon}
		WHERE
		    userid = #{userId}
		    AND repnum = #{repNum}
    </update>
    
    <insert id="addCart">
    INSERT INTO tbl_cart (
	    cartnum,
	    userid,
	    gdsnum,
	    cartstock
	) VALUES (
	    tbl_cart_seq.NEXTVAL,
	    #{userId},
	    #{gdsNum},
	    #{cartStock}
	)
    </insert>
    
    <!-- 카트리스트  -->
    <select id="cartList" resultType="com.MAFI.domain.CartListVO">
    SELECT
    ROW_NUMBER() OVER(ORDER BY c.cartnum DESC) AS num,
    c.cartnum,
    c.userid,
    c.gdsnum,
    c.cartstock,
    c.adddata,
    g.gdsname,
    g.gdsprice,
    g.gdsthumbimg
	FROM
	    tbl_cart    c
	    INNER JOIN tbl_goods   g ON c.gdsnum = g.gdsnum
	WHERE
	    userid = #{userId}
	</select>
	
	<delete id="deleteCart">
	DELETE FROM tbl_cart
	WHERE
    		cartnum = #{cartNum}
    	AND userid = #{userId}
	</delete>
	
	<!--주문정보입력  -->
	<insert id="orderInfo">
    INSERT INTO tbl_order (
        orderid,
        userid,
        orderrec,
        useraddr1,
        useraddr2,
        useraddr3,
        orderphon,
        amount
    ) VALUES (
        #{orderId},
        #{userId},
        #{orderRec},
        #{userAddr1},
        #{userAddr2},
        #{userAddr3},
        #{orderPhon},
        #{amount}
    )
    </insert>
    
	<!-- insert select 부분 테이블을 잘못읽어서 한 30분동안 헤맴..tbl_cart테이블의 모든 목록을 입력하고 나중에 delete쿼리로 tbl_cart의 데이터 날릴 예정 --> 
    <insert id="orderInfo_Detail">
	INSERT INTO tbl_order_details (
	    orderdetailsnum,
	    orderid,
	    gdsNum,
	    cartStock
	)
    SELECT
        tbl_order_details_seq.NEXTVAL,
        #{orderId},
        gdsNum,
        cartStock
    FROM
        tbl_cart
    </insert>
    
    <delete id="cartAllDelete">
    DELETE FROM tbl_cart
	WHERE
    userid = #{userId}
    </delete>
    
    <!--주문정보보기  -->
    <select id="orderList" resultType="com.MAFI.domain.OrderVO">
        SELECT
    orderid,
    userid,
    orderrec,
    useraddr1,
    useraddr2,
    useraddr3,
    orderphon,
    amount,
    orderdate,
    DELIVERY
	FROM
	    tbl_order
	WHERE userId=#{userId}
    </select>
    
    <!-- 주문 상세정보 보기  -->
    <select id="orderView" resultType="com.MAFI.domain.OrderListVO">
    SELECT
	   O.ORDERID, O.USERID, O.ORDERREC, O.USERADDR1, O.USERADDR2, O.USERADDR3, O.ORDERPHON, O.AMOUNT, O.ORDERDATE,O.DELIVERY,
	   D.GDSNUM, D.CARTSTOCK, D.ORDERDETAILSNUM,
	   G.GDSNAME, G.GDSTHUMBIMG, G.GDSPRICE
	FROM
	    tbl_order           o
	    INNER JOIN tbl_order_details   d ON o.orderid = d.orderid
	    INNER JOIN tbl_goods           g ON d.gdsnum = g.gdsnum
	WHERE
	    o.userid = #{userId}
	    AND O.ORDERID=#{orderId}
    </select>
</mapper>